<div class="container">
  <h2>Monthly Spending by Category</h2>
  <br>

  {{!-- <h5>Monthly Spending by Category</h5> --}}
  <form id="pie-chart">
    <div class="form-row">
      <div class="form-group col-3 col-lg-2">
        <label for="month">Month</label>
        <select id="month" class="form-control">
        </select>
      </div>
        {{!-- <option value=9>September</option> --}}
      <div class="form-group col-3 col-lg-2">
        <label for="year">Year</label>
        <select id="year" class="form-control">
        </select>
      </div>
    </div>
    <input type="submit" value="Submit" class="btn">
  </form>

  <br>
  
  <div id="canvas-holder" style="width:30%; height:30%;" class="text-center border">
    <h5><span id="selectedMonth"></span></h5>
    {{!-- Canvas is hidden by default --}}
    <canvas id="myChart" style="visibility:hidden"></canvas>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>


<script src="/js/dashboard.js"></script>