<div class="">
  <h1 class="ml-3 home-logo">Welcome to
    <span class="display-4">ExpenseTracker</span>
  </h1>
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-4 col-lg-4">
        <div class="card">
          <div class="card-body">
            <a href="/addexpense"><h3 class="card-title">Log expenses</h3></a>
            <p class="card-text">You can log individual expenses with the following properties:</p>
            <ul class="">
              <li>Category</li>
              <li>Date</li>
              <li>Description</li>
              <li>Price amount</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-3">
        <div class="card">
          <div class="card-body">
            <a href="/viewexpenses" ><h3 class="card-title">View expenses</h3></a>
            <p class="card-text">You can view a list of all your expenses, filtered by: </p>
            <ul>
              <li>Category</li>
              <li>Date range</li>
              <li>Description</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-5">
        <div class="card">
          <div class="card-body">
            <a href="/dashboard"><h3 class="card-title">View spending by category</h3></a>
            <p class="card-text">You can see your monthly spending by category with a pie chart.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>