<div class="">
  <h1 class="">Welcome to
    <span class="display-4">ExpenseTracker</span>
  </h1>
  <div class="container mt-4">
    <div class="row">
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Log expenses</h3>
            <p class="card-text">Add expense</p>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">View expenses</h3>
            <p class="card-text">Add expense</p>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">View spending by category</h3>
            <p class="card-text">Add expense</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>